@media screen and (min-width: 480px) and (max-width: 767px){
  html{
    width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}


@media screen and (min-width: 768px) and (max-width: 1024px){
  html{
    width: 960px;
    margin-left: auto;
    margin-right: auto;
  }
}

.center {
  position: relative;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}