@media screen and (min-width: 480px) and (max-width: 767px) {

  header{
    background-color: aliceblue;
    outline: 1px dashed black;
    outline-offset: -1px;
    height: 75px;
    width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
  
  main{
    outline: 1px dashed black;
    outline-offset: -1px;
    height: 980px;
    width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
  
  #left{
    background-color: green;
    outline: 1px dashed black;
    outline-offset: -1px;
    height: 150px;
    width: 480px;
  }
  
  #top{
    outline: 1px dashed black;
    outline-offset: -1px;
  }

  #c{
    background-color: rebeccapurple;
  }
  
  #d{
    background-color: blanchedalmond;
  }

  #cd li{
    outline: 1px dashed black;
    outline-offset: -1px;
    height: 125px;
    width: 480px;
  }
  
  #mid{
    outline: 1px dashed black;
    outline-offset: -1px;
  }
  
  #efgh{
    float:left;
    height: 500px;
    width: 480px;
  }

  #e{
    background-color: burlywood;
  }
  
  #f{
    background-color: peru;
  }

  #g{
    background-color: olivedrab;
  }

  #h{
    background-color: fuchsia;
  }

  #efgh li{
    outline: 1px dashed black;
    outline-offset: -1px;
    height: 250px;
    width: 240px;
    float: left;
  }
  
  #bottom{
    background-color: darkgreen;
    clear: both;
    outline: 1px dashed black;
    outline-offset: -1px;
    height: 80px;
    width: 480px;
  }
}



@media screen and (min-width: 768px) and (max-width: 1024px){

  header{
    background-color: rebeccapurple;
    outline: 1px dashed black;
    outline-offset: -1px;
    height: 100px;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
  }

  main{
    outline: 1px dashed black;
    outline-offset: -1px;
    height: 600px;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
  }

  #left{
    background-color: yellowgreen;
    outline: 1px dashed black;
    outline-offset: -1px;
    height: 600px;
    width: 200px;
    float: left;
  }

  #top{
    outline: 1px dashed black;
    outline-offset: -1px;
    height: 200px;
    width: 760px;
    float: right;
  }

  #c{
    background-color: teal;
  }
  
  #d{
    background-color: hotpink;
  }

  #cd li{
    outline: 1px dashed black;
    outline-offset: -1px;
    height: 200px;
    width: 380px;
  }

  #c{
    float: left;
  }

  #d{
    float:right;
  }

  #mid{
    outline: 1px dashed black;
    outline-offset: -1px;
    height: 250px;
    width: 760px;
    float: right;
  }

  #efgh{
    float:left;
  }

  #e{
    background-color: royalblue;
  }
  
  #f{
    background-color: wheat;
  }

  #g{
    background-color: cadetblue;
  }

  #h{
    background-color: brown;
  }

  #efgh li{
    float: left;
    outline: 1px dashed black;
    outline-offset: -1px;
    padding: 0px;
    height: 250px;
    width: 190px;
  }

  #bottom{
    background-color: orangered;
    float: right;
    outline: 1px dashed black;
    outline-offset: -1px;
    height: 150px;
    width: 760px;
  }
}