@media screen and (min-width: 480px) and (max-width: 767px) {

  .container{
    display: flex;
    flex-flow: column;
    align-content: center;
  }

  header{
    background-color: aliceblue;
    outline: 1px dashed black;
    outline-offset: -1px;
    height: 5.7rem;
    width: 30rem;
  }
  
  main{
    height: 75rem;
    width: 30rem;
  }
  
  #left{
    background-color: green;
    outline: 1px dashed black;
    outline-offset: -1px;
    height: 9rem;
    width: 30rem;
  }

  #c{
    background-color: rebeccapurple;
  }
  
  #d{
    background-color: blanchedalmond;
  }

  #cd li{
    outline: 1px dashed black;
    outline-offset: -1px;
    height: 7.5rem;
    width: 30rem;
  }
 

  #e{
    background-color: burlywood;
  }
  
  #f{
    background-color: peru;
  }

  #g{
    background-color: olivedrab;
  }

  #h{
    background-color: fuchsia;
  }

  #efgh{
    display: flex;
    flex-wrap: wrap;
    outline: 1px dashed black;
    outline-offset: -1px;
    width: 30rem;
    height: 33rem;
  }

  #efgh li{
    outline: 1px dashed black;
    outline-offset: -1px;
    height: 16.5rem;
    width: 15rem;
  }
  
  #bottom{
    background-color: darkgreen;
    outline: 1px dashed black;
    outline-offset: -1px;
    height: 5.9rem;
    width: 30rem;
  }
}



@media screen and (min-width: 768px){

  .container{
    display: flex;
    align-content: center;
    flex-flow: row wrap;
    width: 100%;
    height: 100%;
  }

  header{
    background-color: rebeccapurple;
    outline: 1px dashed black;
    outline-offset: -1px;
    width: 100%;
    height: 14.28%;
  }

  main{
    justify-content: flex-start;
    display: flex;
    flex-flow: column;
    outline: 1px dashed black;
    outline-offset: -1px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 85.71%;
  }

  #left{
    flex: 0 12em;
    background-color: yellowgreen;
    outline: 1px dashed black;
    outline-offset: -1px;
    height: 100%;
    width: 20.8%;
  }

  #top{
    /* flex: 1; */
    outline: 1px dashed black;
    outline-offset: -1px;
    width: 79.2%;
    height: 33%;
  }

  #c{
    background-color: teal;
  }
  
  #d{
    background-color: hotpink;
  }

  #cd{
    display: flex;
    width: 100%;
    height: 100%;

  }

  #cd li{
    outline: 1px dashed black;
    outline-offset: -1px;
    width: 50%;
    height: 100%;
  }

  #mid{
    flex: 0;
    outline: 1px dashed black;
    outline-offset: -1px;
    width: 79.2%;
    height: 41.66%;
  }

  #efgh{
    width: 100%;
    height: 100%;
    display: flex;
  }

  #e{
    background-color: royalblue;
  }
  
  #f{
    background-color: wheat;
  }

  #g{
    background-color: cadetblue;
  }

  #h{
    background-color: brown;
  }

  #efgh li{
    outline: 1px dashed black;
    outline-offset: -1px;
    width: 25%;
    height: 100%;
  }

  #bottom{
    background-color: orangered;
    outline: 1px dashed black;
    outline-offset: -1px;
    width: 79.2%;
    height: 25%;
  }
}